version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: upumi
    ports:
      - "5432:5432"
    volumes:
      - upumi_pg:/var/lib/postgresql/data
volumes:
  upumi_pg:
