.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}
.overlay {
  background: rgba(78, 78, 78, 0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: var(--white);
  padding: 10px 20px;
  border-radius: 8px;
  max-width: 600px;
  min-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 1000;
  @media (max-width: 786px) {
    width: 85%;
    max-width: 360px;
    
  }
  .modal-heading {
    color: var(--dark-blue);
  }
  p {
    color: #475467;
  }
  @media (max-width: 786px) {
    padding: 2rem;
  }
  .close-modal-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    .upcomingEventCard {
      display: flex;
      align-items: center;
      gap: 1rem;
      @media(max-width:768px){
        flex-direction: column;
        height: 35rem;
        padding: 0;
      }
      .eventImage {
        width: 100%;
        max-width: 45%;
        border-radius: 0.75rem; // 12px
        margin-top: 1rem;
        @media(max-width:786px){
            max-width: 100%;
            margin-top: 0;
        }

        img {
          width: 100%;
          height: auto;
          border-radius: 0.625rem; // 10px
        }
      }

      .eventDetails {
        width: 100%;
        max-width: 50%;
        text-align: left;
        margin-top: 1rem; // 16px;
        @media(max-width:786px){
            max-width: 100%;
            margin-top: 0.40rem;
        }

        h3 {
          font-weight: 600;
          font-size: 1.75rem; // 28px
          line-height: 2.25rem; // 36px
          color: var(--black);
          margin-bottom: 1rem; // 16px

          @media(max-width: 786px){
            font-size: 1rem;
            line-height: 1.3rem;
          }
        }

        p {
          font-family: Montserrat;
          font-weight: 450;
          font-size: 1rem; // 16px
          line-height: 1.5rem; // 24px
          margin-bottom: 0.625rem; // 10px
          color: var(--black);
          text-align: justify;
        }
      }
    }
  }
  .close-modal {
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 0.20rem; 
    right: 0.30rem;
    color: black;
  }
}
