
.latestEvents {
  text-align: center;
  padding: 0 4rem;
  width: 100%;
  box-sizing: border-box;
  margin-top: 14rem;
  @media (max-width: 786px) {
    padding: 0.7rem;
    margin-top: 2rem;
  }

  .latestEventsHeading {
    max-width: 696px;
    margin: 0 auto;
    padding: 3rem 1rem;

    h2 {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;

      color: var(--dark-green);
      margin-bottom: 16px;
      @media (max-width: 786px) {
        font-size: 2rem;
      }
    }

    p {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 1rem;
      line-height: 100%;
      color: var(--dark-green);
      margin: 0;
    }
  }

 .latestEventsCards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  gap: 2rem;
  margin-top: 1rem;
  @media (max-width:786px){
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: -1rem;
  }
  .event-card{
    border: none;
    background: var(--dark-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card-image{
      width: 100%;
      object-fit: contain;
    }
    .card-title{
      text-align: center;
      color: var(--white);
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;

    }
    .card-description{
      color: var(--white);
      font-weight: 450;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0%;
      text-align: center;

    }
    .learn-more{
     text-align: center;
      background: var(--white);
      color: #052D3B;
      padding: 0.40rem 1rem;
      width: 30%;
      margin-top: 1rem;
      border-radius: 0.50rem;
      @media (max-width:786px){
        width: 45%;
      }
    }
  }
 }
}
