.forever-section {
  width: 100%;
  padding: 0 4rem;
  margin-top: 4rem;
  @media (max-width: 786px) {
    padding: 0.34rem;
  }
  .forever-container {
    background: #5c4800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 1rem;
    @media(max-width:786px){
        padding: 1rem;
    }
    .forever-title {
      color: var(--white);
      font-family: Monotype Corsiva;
      font-weight: 400;
      font-size: 60px;
      line-height: 100%;
      letter-spacing: 0%;
      @media (max-width:786px){
        font-size: 28px;
        font-weight: 800;

      }
    }
  }
  .forever-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    @media (max-width: 786px) {
      grid-template-columns: 1fr;
    }
    .forever-image {
      width: 100%;
      height: 70%;
      object-fit: cover;
      border-radius: 20px;
    }
    .title {
      color: #101828;
    }
    .text {
      color: #175cd3;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
