.event-modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.8);
  }
  
  .modal-content {
    position: relative;
    background: var(--background);
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    // margin: 20px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    z-index: 1001;
    color: var(--black);
    
    @media (max-width: 768px) {
    width: 95%;
    padding: 1.5rem;
    // margin: 10px auto;
    max-height: 90vh;
    overflow-y: auto;
    }
  
    h2 {
    margin-top: 0;
    color: var(--black);
    
    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
    }
  
    .event-details {
    p {
      margin: 1rem 0;
      line-height: 1.6;
      color: var(--black);
    }
  
    strong {
      color: var(--black);
    }

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
    }
  }
  
  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--black);
    background: none;
    border: none;
    
    @media (max-width: 768px) {
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.25rem;
    }
  
    &:hover {
    color: var(--black);
    }
  }
  }