.events {
  width: 100%;
  background-color: var(--light-beige) #ffffef;
  @media(max-width:786px){
    margin-top: 4rem;
  }
  .events-container {
    padding-top: 7rem;
    padding-bottom: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    @media screen and (max-width: 768px) {
      padding: 0 1rem;
      }
      .highlight-title{
        margin-top: 10rem;
        padding-bottom: 1rem;

      }
    .events-calendar-container{
      display: flex;
      gap: 2rem;
      margin-top: 5rem;

      @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-top: 2rem;
      }


      .events-calendar{
      flex: 2;
      width: 58.875rem; // 942px
      height: 63.75rem; // 1020px
      border-radius: 1.5rem; // 24px
      padding: 0;

      @media screen and (max-width: 768px) {
          width: 100%;
          flex: 1;
          height: 12.5rem; // 200px
      }
      }
    }
    .highlight-title {
      color: #003e53;
      font-weight: 700;
      font-size: 3rem; // 48px
      margin-bottom: 0.5rem;
      margin-top: 2rem;
    }
    .container{
        width: 100%;
        margin-top: 1rem;
        .high-container {
           display: grid;
           grid-template-columns: 30% 65%;
           gap: 3rem;
            margin-top: 3rem;
           @media(max-width:786px){
            grid-template-columns: 1fr;
            flex-direction: column;
            
           }
            .high-title{
              font-family: Montserrat;
              font-weight: 700;
              font-size: 1.5rem; // 24px
              line-height: 100%;
              letter-spacing: 0%;
              color: var(--Abstract, #003E53);
            }
            .high-wrapper {
              display: block;
              align-items: center;
              width: 100%;
              justify-content: center;
              .image-container{
                 display: grid;
                 grid-template-columns: 1fr 1fr;
                 align-items: center;
                 justify-content: center;
                 gap: 1rem;
                 @media (max-width:786px){
                  margin-top: -1.5rem;
                 }
                  .first-image {
                      width: 100%;
                      object-fit: cover;
                      margin: 0 auto;
                      cursor: pointer;
                    }
              }
              .second-image-container{
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr;
                  gap: 1rem;
                  margin-top: 2rem;
                  .second-image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;

                    &:nth-child(1){
                        border-radius: 1.25rem; // 20px
                    }
                    &:nth-child(2){
                        border-radius: 1.25rem; // 20px
                    }
                    &:nth-child(3){
                        border-radius: 1.25rem; // 20px
                    }
                  }
                  .see-more-container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    opacity:0.5;
                    .see-more-text{
                      position: absolute;
                      top: 8rem;
                      left: 7rem;
                      .see-title{
                        color:var(--white);
                        font-size: 14px;
                        font-weight: 700;
                        cursor: pointer;
                        
                      }
                    }
                    
                  }
                  
              }
            }
          }
    }
  }
  .sub{
    padding: 0 ;
    width: 100%;
  }
}
