.btn{
    background: var(--dark-blue);
    border: none;
    width: 127px;
    height: 48px;
    border-radius: 8px;
    color: var(--white);
}
.white{
    background:transparent;
    border:1px solid white;
    width: 127px;
    height: 48px;
    border-radius: 8px;
    color: var(--dark-blue);
}