.mySwiper{
    width: 100%;
    
}
.swiper {
    width: 100%;
    height: 33rem;
    z-index: 1;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    max-width: 800px;
    height: 100%;
    object-fit: contain;
  }