.home {
  height: 100%;
  margin-top: 5rem;

  .disappearModal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50rem;
    background: red;
    width: 100%;
    max-width: 500px;
    color: black;
  }

}


