.navbar {
  top: 0;
  width: 100%;
  z-index: 1000;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: space-between;
  align-items: center;
  background: var(--green);
  position: fixed;
  .navbar-left {
    background: var(--purewhite);
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 8rem;
  }

  .navbar-right {
    background: var(--dark-green);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8rem;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    // background: var(--white);
    .logo-img {
      width: 4rem;
      height: 4rem;
      object-fit: contain;
    }
    .logo-text {
      font-size: 2rem;
      font-weight: 400;
      color: var(--dark-green);
      font-family: bowlby one;
    }
  }
  .nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;

    .links {
      color: var(--white);
      text-decoration: none;
      font-weight: 700;
      &:hover {
        color: var(--light-green);
        font-weight: 700;
        // font-size: 1.1rem;
      }
      &.active {
        color: var(--background);
        font-weight: 700;
        font-size: 1.4rem;
      }
    }
  }
  .btn-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    .contact-btn {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: 700;
      color: var(--green);
      background-color: var(--white);
      border: none;
      border-top-left-radius: 0.6rem;
      border-bottom-left-radius: 0.6rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-family: poppins;
      .contact-icon {
        margin-left: 0.1rem;
        font-size: 19px;
      }
    }
    .join-community {
      color: var(--white);
      font-family: poppins;
      font-weight: 700;
      font-size: 1rem;
    }
  }
  .nav_toggle-btn {
    display: none;
  }
}
/*MEDIA QUERIES (medium and small Screens)*/
@media only screen and (max-width: 1024px) {
  .navbar {
    width: 100%;
    display: flex;
    background: var(--white);
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
      rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
      rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
      rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
      rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
      rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-top: -0.40rem;
    .navbar-left {
      padding: 0;
      background: var(--white);

      .logo-img {
        width: 3rem;
        height: 3rem;
      }
      .logo-text {
        font-size: 1.5rem;
      }
    }
    .navbar-right {
      background: var(--white);

      .btn-right {
        margin-left: 5rem;
        .contact-btn{
          font-size: 20px;
        }
      }
      
    }
    .nav_toggle-btn {
      display: block;
      font-size: 1.8rem;
      cursor: pointer;
      border: none;
      background: transparent;
      margin-left: -18rem;

      .menu {
        color: black;
        font-size: 23px;
        font-weight: 600;
      }
    }

    .nav-links {
      position: absolute;
      flex-direction: column;
      right: 0;
      top: 100%;
      border-radius: 10px;
      background: var(--green);
      padding-bottom: 2rem;
      li {
        width: 100%;
        height: 3.50rem;
      }

      li a {
        color: var(--white);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 3rem 1rem 1rem;
        margin: 1rem;
        
      }
    }
    .show_nav {
      display: flex;
    }

    .hide_nav {
      display: none;
    }
  }
}
