.layout{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
};


// @media only screen and (max-width: 1024px) {
//     .layout {
//     //  padding: 0 1rem;
//     }
// }