.layout{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    padding-top: 5.5rem;
    scroll-padding-top: 5.5rem;
};

@media only screen and (max-width: 1024px) {
    .layout{
        padding-top: 5rem;
        scroll-padding-top: 5rem;
    }
}

// @media only screen and (max-width: 1024px) {
//     .layout {
//     //  padding: 0 1rem;
//     }
// }
