.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  color: var(--black);
  
}

.overlay {
  background: rgba(78, 78, 78, 0.8);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px, rgba(0, 0, 0, 0.19) 0px 6px 6px;
  max-width: 600px;
  width: 800px;
  // height: 50vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media (max-width: 768px) {
    padding: 1.5rem;
  }

  .close-modal {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--black);
    margin-bottom: 1rem;
  }
  .modal-body {
    // display: flex;
    // flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 2rem;
    text-align: center;
    h3 {
      font-weight: 600;
      font-size: 1.75rem;
      line-height: 2.25rem;
      color: var(--black);
      margin-bottom: 1rem;
  
      @media (max-width: 768px) {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
    }
  
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
    .modal-sub-body {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      &.full-width-details {
        .event-details {
          width: 100%;
        }
      }
      .event-image {
    flex: 0 0 40%;
    max-width: 40%;
    
    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
      
      .event-details {
        flex: 1;
        text-align: left;
      
        p {
          font-family: Montserrat;
          font-weight: 450;
          font-size: 1rem;
          line-height: 1.5rem;
          margin-bottom: 0.625rem;
          color: var(--black);
        }
      }
    }
  
  }
}


